<ion-view view-title="{{ hero.name }}" ng-controller="HeroCtrl">
  <ion-content>
      <div class="list card hero-card">

          <div class="item item-avatar">
              <!--<img src="mcfly.jpg">-->
              <h2>{{ hero.name}}</h2>
              <p>
                  <span ng-if="hero.seasonal">Seasonal </span>
                  {{hero.class}} lvl {{ hero.level }}</p>
          </div>

          <div class="item item-body">

              <div class="inventory {{hero.class}}" ng-class="{
                female: hero.gender == 1,
                male : hero.gender == 0,
                hardcore: hero.hardcore}">

              </div>

          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" ng-click="like(heroStatistics)">
                  <i class="icon ion-thumbsup"></i>
                  Like ({{ heroStatistics.likes || 0}})
              </a>
              <a class="tab-item">
                  <i class="icon ion-chatbox"></i>
                  Comment ({{ heroStatistics.likes || 0 }})
              </a>
              <a class="tab-item">
                  <i class="icon ion-share"></i>
                  Share
              </a>
          </div>

      </div>
  </ion-content>
</ion-view>
