<ion-view view-title="{{ hero.name }}" ng-controller="HeroCtrl">
  <ion-content>
      <div class="list card">

          <div class="item item-avatar">
              <!--<img src="mcfly.jpg">-->
              <h2>{{ hero.name}}</h2>
              <p>
                  <span ng-if="hero.seasonal">Seasonal </span>
                  {{hero.class}} lvl {{ hero.level }}</p>
          </div>

          <div class="item item-body">

          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
              <a class="tab-item" href="#">
                  <i class="icon ion-thumbsup"></i>
                  Like
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-chatbox"></i>
                  Comment
              </a>
              <a class="tab-item" href="#">
                  <i class="icon ion-share"></i>
                  Share
              </a>
          </div>

      </div>
  </ion-content>
</ion-view>
